body{
	font-family: sans-serif;
	background-color: #18142c;
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
}

html{
	min-height: 1920px;
	zoom: 100%;
	min-zoom: 100%;
}

.page{
	
	/* width: 2000px;     */
	background-color: #18142c;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
	display: grid; 
	grid-template-columns: 1.5fr 0.8fr 0.7fr 1fr 0.6fr 0.8fr 1.6fr 1.3fr 0.7fr; 
	grid-template-rows: 0.2fr 0.4fr 2.1fr 0.7fr 1.8fr 1.5fr 0.3fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    ". . . . . . . . ."
    "Intro Intro Intro Intro Intro desc1 desc1 desc1 desc1"
    "Intro Intro Intro Intro Intro Map Map Map Map"
    "a b b c c Map Map Map Map"
    "line line bar bar bar desc2 desc2 desc2 desc2"
    "desc3 desc3 desc3 desc3 desc3 . word word ."
    ". . . . . foot foot foot foot"; 
} 


 /* <--------=== GRID  ===----------> */

.Intro { 
	grid-area: Intro;
	justify-self: left; 
}

.button {
	border: none;
	background: none;
	font-size: 100px;
	width: 30px;
	text-align: center;
	text-decoration: none;
}

.a { 
	grid-area: a;
}

.atext{
	width:80%; 
}

.heart{
	color: rgb(253, 107, 131);
	justify-self: center;
	align-self: center;
	cursor: pointer;

	position: absolute;
	top: 505px;
	left: 50px;
	font-size: 50px;
	border: none;
}

.heart:hover {
	color: rgb(245, 166, 179);
}

.heart:active{
	transform: scale(1.2);
}

.b { 
	grid-area: b;
}

.btext{
	width:80%; 
	margin-left: -50px;
}

.male{
	color: rgb(107, 134, 253);
	justify-self: center;
	align-self: center;
	cursor: pointer;

	position: absolute;
	top: 500px;
	left: 240px;
	font-size: 60px;
	border: none;
}

.male:hover {
	color: rgb(107, 158, 253);
}

.male:active{
	transform: scale(1.2);
}
.c { 
	grid-area: c;
}

.ctext{
	width:75%; 
	margin-left: -100px;
}

.female{
	color: rgb(255, 108, 218);
	justify-self: center;
	align-self: center;
	cursor: pointer;

	position: absolute;
	top: 500px;
	left: 425px;
	font-size: 60px;
	border: none;
}

.female:hover {
	color: rgb(240, 158, 219);
}

.female:active{
	transform: scale(1.2);
}



/* === Font format ===*/

.header h2, h1{
	color: aliceblue;
}

.desc1 { 
	grid-area: desc1; 
	font-size: large;
	justify-self: center;
}

.desc2 { 
	grid-area: desc2; 
	color: rgb(236, 225, 245);
	font-size: 45px;
	justify-self: center;
	text-align: center;
	align-self: center;
	padding-right: 180px;
}

.desc3 { 
	grid-area: desc3;
	color: rgb(236, 225, 245);
	font-size: 45px;
	justify-self: center;
	text-align: center;
	align-self: center; 
	padding-left: 100px;
}

.foot { 
	grid-area: foot;
	color: rgb(236, 225, 245);
	justify-self: end;
	align-self: flex-end;
	font-size: x-large;
}

.logo{
	width:200px;
	height:200px;
	padding-left: 180px;
}

.year{
	font-size: 80px;
	padding-left: 190px;
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
}

.title{
	width:400px;
	height:120px;
	padding-left: 90px;
}