body{
	font-family: sans-serif;
	background-color: #18142c;
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
}

html{
	min-height: 720px;
	zoom: 100%;
	min-zoom: 100%;
}

.page{
	background-color: #18142c;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
	display: grid; 
	grid-template-columns: 1.5fr 0.8fr 0.7fr 1fr 0.6fr 0.8fr 1.6fr 1.3fr 0.7fr; 
	grid-template-rows: 0.2fr 0.4fr 2.1fr 0.7fr 1.8fr 1.5fr 0.3fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    ". . . . . . . . ."
    "Intro Intro Intro Intro Intro desc1 desc1 desc1 desc1"
    "Intro Intro Intro Intro Intro Map Map Map Map"
    "a b b c c Map Map Map Map"
    "line line bar bar bar desc2 desc2 desc2 desc2"
    "desc3 desc3 desc3 desc3 desc3 . word word ."
    ". . . . . foot foot foot foot"; 
} 


 /* <--------=== GRID  ===----------> */

.Intro { 
	grid-area: Intro;
	justify-self: left; 
}

.button {
	border: none;
	background: none;
	font-size: 100px;
	width: 30px;
	text-align: center;
	text-decoration: none;
}

.a { 
	grid-area: a;
	
}

.atext{
	width:80%;
	margin-left: 70px; 
	margin-top: -7px;
	background:rgb(255, 114, 138);
}

.heart{
	color: rgb(247, 65, 95);
	justify-self: center;
	align-self: center;
	cursor: pointer;
	margin-top: -15px;
	position: absolute;
	top: 515px;
	left: 50px;
	font-size: 60px;
	border: none;
	margin-left: 70px;
}

.heart:hover {
	color: rgb(238, 129, 147);
}

.heart:active{
	transform: scale(1.2);
}

.b { 
	grid-area: b;
}

.btext{
	width:80%; 
	margin-left: 25px;
	margin-top: -10px;
	background-color: rgb(101, 128, 248);
}

.male{
	color: rgb(101, 128, 248);
	justify-self: center;
	align-self: center;
	cursor: pointer;

	position: absolute;
	top: 490px;
	left: 240px;
	font-size: 70px;
	border: none;
	margin-left: 78px;
}

.male:hover {
	color: rgb(118, 162, 243);
}

.male:active{
	transform: scale(1.2);
}
.c { 
	grid-area: c;
}

.ctext{
	width:73%; 
	margin-left: -25px;
	background-color: rgb(255, 104, 217);
}

.female{
	color: rgb(255, 104, 217);
	justify-self: center;
	align-self: center;
	cursor: pointer;

	position: absolute;
	top: 490px;
	left: 425px;
	font-size: 72px;
	border: none;
	margin-left: 68px;
}

.female:hover {
	color: rgb(240, 158, 219);
}

.female:active{
	transform: scale(1.2);
}



/* === Font format ===*/

.header h2, h1{
	color: aliceblue;
}

.desc1 { 
	grid-area: desc1; 
	font-size: large;
	justify-self: center;
}

.desc2 { 
	grid-area: desc2; 
	color: rgb(236, 225, 245);
	font-size: 16px;
	justify-self: center;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
}

.desc3 { 
	grid-area: desc3;
	color: rgb(236, 225, 245);
	font-size: 16px;
	justify-self: center;
	text-align: center;
	align-self: flex-end;
	margin-left: 80px;
	margin-right: 80px;
}

.foot { 
	grid-area: foot;
	color: rgb(236, 225, 245);
	justify-self: end;
	align-self: flex-end;
	padding-top: 145px;
	font-size: 12px;
}

.logo{
	width:200px;
	height:200px;
	margin-left: 265px;
}

.year{
	font-size: 80px;
	margin-left: 275px;
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
}

.title{
	width:400px;
	height:120px;
	margin-left: 165px;
}