/* === Plot format === */
.vis-container{
	width: 100%;
}

canvas, #ac_path_3afe04bf_3{
	border-radius: 15px;
}

.Map { 
	grid-area: Map; 
	justify-self: center;
	margin-top: -60px;
}


.bar { 
	grid-area: bar;
	justify-self: end; 
	margin-right: 20px;
}

.word {
	height: 95%;
	width: 450px; 
	grid-area: word;
	justify-self: center;
	margin-left: 100px;
	margin-top: -60px;
}

.vega-bind-name{
	color: aliceblue;
}

span{
	color: aliceblue;
}

#vg-tooltip-element{
	font-size: 10px;
	overflow: hidden;
    white-space:nowrap;
	text-align-last: left;
}

.anychart-credits {
    display: none;
}